{{ define "title" }} Tofus Blog {{ end }}
<br />
{{ define "body" }}

<script>
    let postList = `{{.posts}}`;
    if (postList != "<no value>") {
        postList = JSON.parse(postList);
        postList.sort((a, b) => b.id - a.id);
    } else {
        postList = "";
    }
</script>

<div>
    <div
        class="text-black flex flex-col-reverse lg:flex-row lg:gap-7 max-w-[73%] mx-auto mt-5"
    >
        <div class="w-full">
            <!-- Left -->
            <div id="posts">
                <div
                    class="h-[20px] m-2 bg-gray-400 skeleton skeleton-anim"
                ></div>
                <div class="h-[50px] m-2 skeleton"></div>
                <div class="h-[100px] m-2 skeleton"></div>
                <div class="h-[50px] m-2 skeleton"></div>
                <div
                    class="h-[20px] m-2 bg-gray-400 skeleton skeleton-anim"
                ></div>
                <div class="h-[50px] m-2 skeleton"></div>
                <div class="h-[100px] m-2 skeleton"></div>
                <div class="h-[50px] m-2 skeleton"></div>
                <div
                    class="h-[20px] m-2 bg-gray-400 skeleton skeleton-anim"
                ></div>
                <div class="h-[50px] m-2 skeleton"></div>
                <div class="h-[100px] m-2 skeleton"></div>
            </div>
        </div>
        {{ if gt .postLen 0 }}
        <div class="lg:w-[45%]">
            <!-- Right -->
            <div class="card border">
                <h2 class="text-xl pb-1 w-full">Your Posts</h2>
                <p class="italic">work in progress...</p>
            </div>
        </div>
        {{ end }}
    </div>
</div>

<script src="/static/js/post_list.js"></script>
{{ end }}
