{{ define "title" }} Tofus Blog - {{.post.Title}} {{ end }}
<br />
{{ define "body" }}
<div>
    <div
        class="text-black flex flex-col-reverse lg:flex-row lg:gap-7 max-w-[73%] mx-auto mt-5"
    >
        <div class="w-full">
            <!-- Left -->
            <div>
                <div
                    class="card relative py-3 pl-10 box-content border border-transparent hover:border-gray-300"
                >
                    <!-- Top-left menu -->
                    <div class="dropdown-toggle-wrapper">
                        <input
                            type="checkbox"
                            id="dropdown-{{.ID}}"
                            style="display: none"
                            class="dropdown-checkbox"
                        />
                        <label
                            for="dropdown-{{.ID}}"
                            class="dropdown-toggle absolute top-2 right-2 hover:bg-gray-200 p-2 rounded-lg box-content cursor-pointer"
                        >
                            <img
                                src="/static/svg/open.svg"
                                class="open"
                                data-id="${id}"
                            />
                            <img src="/static/svg/close.svg" class="close" />
                        </label>
                        <div
                            class="dropdown-options absolute top-2 right-12 flex flex-row-reverse gap-2"
                        >
                            <div class="hover:bg-gray-200 dropdown-item">
                                <img src="/static/svg/edit.svg" />
                            </div>
                            <div class="hover:bg-gray-200 dropdown-item">
                                <img src="/static/svg/delete.svg" />
                            </div>
                        </div>
                    </div>

                    <!-- Likes -->
                    <div
                        class="absolute top-0 left-0 z-10 w-6 h-full bg-white rounded-l-lg flex flex-col pl-3 pt-5 items-center"
                    >
                        <!-- Up Arrow -->
                        <button class="p-[1px] py-1 rounded hover:bg-gray-200">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"
                                />
                            </svg>
                        </button>
                        <!-- Votes -->
                        <p
                            class="post-like text-sm font-medium"
                            id="post-likes-{{.ID}}"
                        >
                            {{ .post.Likes }}
                        </p>
                        <!-- Down Arrow -->
                        <button class="p-[1px] py-1 rounded hover:bg-gray-200">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"
                                />
                            </svg>
                        </button>
                    </div>

                    <!-- Body -->
                    <div class="">
                        <p class="text-2xl font-medium">{{.post.Title}}</p>

                        <!-- whitespace-pre-line -->
                        <p class="break-all">{{ .post.Body }}</p>

                        <div
                            class="pt-1 font-light text-gray-800 text-sm w-full rounded-b-lg flex"
                        >
                            {{.post.CreatedAt.Format "Jan 02, 2006"}} -
                            {{.post.AuthorName}}
                        </div>
                    </div>

                    <!-- Comments -->
                    <!-- <div class="pt-3"></div> -->
                </div>
            </div>
        </div>

        <div class="lg:w-[45%]">
            <!-- Right -->
            <!-- <div class="card">
                <h2 class="text-xl pb-1 w-full">Your Posts</h2>
                <p class="italic">work in progress...</p>
            </div> -->
        </div>
    </div>
</div>

<script src="/static/js/post_list.js"></script>
{{ end }}
