{{ define "title" }} Tofus-Blog {{ end }}
<br />
{{ define "body" }}

<div class="z-10 relative text-white">
    <nav
        class="w-full flex-between py-6 max-w-[85%] mx-auto font-semibold text-lg"
    >
        <a href="/">
            <img
                class="h-16 rounded-full ease-in duration-150 logo"
                src="/static/images/logo.png"
                alt="Tofus-Blog"
            />
        </a>
        <div class="flex flex-row gap-5">
            <a href="#" class="link h-fit"> Create </a>
        </div>
    </nav>

    <div>
        <div
            class="text-black flex flex-col-reverse md:flex-row md:gap-7 max-w-[73%] mx-auto mt-5"
        >
            <div class="w-full">
                <!-- Left -->
                <div>
                    <!-- Post List -->
                    {{ range .posts }}
                    <div class="card">
                        <h3 class="text-3xl font-medium">{{.Title}}</h3>
                        <p class="font-light text-gray-500">
                            {{ .CreatedAt.Format "02 January 2006" }} by {{
                            .Author }}
                        </p>
                        <!-- whitespace-pre-line -->
                        <p class="break-all">{{ truncateStr .Body }}</p>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="md:w-[45%]">
                <!-- Right -->
                <div class="card">
                    <h2 class="text-xl pb-1 w-full">Your Posts</h2>
                    <p class="italic">work in progress...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script></script>
{{ end }}
