/* body {
    color: #c0392b;
} */

/* Keep dropdown shown */
input[type="checkbox"]:checked + label.dropdown-toggle > svg.open,
input[type="checkbox"]:not(:checked) + label.dropdown-toggle > svg.close {
    display: none;
}
input[type="checkbox"]:not(:checked)
    + label.dropdown-toggle
    ~ .dropdown-options {
    display: none;
}

/* Shown dropdown toggle */
div.dropdown-toggle-wrapper {
    display: none;
}
div:hover > div.dropdown-toggle-wrapper {
    display: block;
}

/* input[type="checkbox"]:checked + label.dropdown-wrapper {
    background: rgb(229 231 235);
} */
