/* body {
    color: #c0392b;
} */

/* Keep dropdown shown */
input[type="checkbox"]:checked + label.dropdown-toggle > img.open,
input[type="checkbox"]:not(:checked) + label.dropdown-toggle > img.close {
    display: none;
}
input[type="checkbox"]:not(:checked)
    + label.dropdown-toggle
    ~ .dropdown-options {
    display: none;
}

/* Shown dropdown toggle */
div.dropdown-toggle-wrapper {
    display: none;
}
div:hover > div.dropdown-toggle-wrapper {
    display: block;
}

/* logo background */
.logo-background {
    background: url("/static/images/logo-background.png");
    background-repeat: repeat;
}

.page-background {
    width: 300px;
    height: auto;
    z-index: 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* https://jsfiddle.net/s85o9ag6/ */
.skeleton {
    background: linear-gradient(90deg, #ccca 40%, #fffa, #ccca 60%) right/300%
        100%;
}

.skeleton-anim {
    animation: skeleton-anim 1s linear infinite;
}

@keyframes skeleton-anim {
    to {
        background-position: left;
    }
}
